<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /* body{
      background: #1976d2;
    } */
    .pageWrapper {
      margin: 0 auto;
      justify-content: center;
      width: 100%;
      position: relative;
      min-height: 100vh;
      padding-bottom: 200px;
    }
  
    .invoiceCont {
      margin: 0 auto;
      max-width: 1401px;
      justify-content: center;
    }
  
    .invoiceCont {
      justify-content: center;
      margin: 0 auto;
    }
  
    .titleInput {
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  
    .block-input-medium {
      width: 100%;
      max-width: 200px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .block-input-smedium {
      width: 100%;
      max-width: 150px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .block-input-mlarge {
      /* width: 100%; */
      max-width: 180px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .block-input-large {
      width: 100% !important;
      max-width: 250px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .block-input-smaller {
      width: 100%;
      max-width: 100px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .block-input-smallest {
      width: 100%;
      max-width: 80px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .block-input-small {
      width: 100%;
      max-width: 120px;
      text-align: center;
      margin: 5px;
      border-radius: 5px;
      padding: 10px 8px;
      border: none;
    }
    .hideElement{
      margin-bottom:0;
      height:0px;
      padding-top:0;
      padding-bottom:0;
      transition: 1s all;
    }
    .slideBlockUp{
      transform: top('-50px');
    }
    @keyframes slideUp {
    from {
      height: 100%;
    }
  
    to {
      height: 0;
      display: none;
    }
  }
    .formLine {
      margin: 10px;
      justify-content: space-around;
    }
    .invoiceDateLine {
      justify-content: space-evenly;
    }
    .workDayLine {
      margin-left:15px;
      margin-right:15px;
      justify-content: left;
    }
    .workDayHeader{
      position:relative;
    }

    .workDayHeader label{
      font-size:12px;
    }

    .workDayHeader input{
      width: 130px;
    }
    .timeInOut-col div{
      margin-top:20px;
    }
    .labelInput {
      color: white;
      text-align: center;
    }
    .buttonStyle{
      height: 40px;
      width:40px;
      border:none;
      border-radius:25px;
      cursor:pointer;
    }
    .circleButton{
      padding:10px;
      border:none;
      border-radius:25px;
      cursor:pointer;
      box-shadow: #2d2d2d 2px 2px 2px;
    }
    .workDayBlock{
      margin-top:30px;
      padding-left:30px;
      margin-right:-30px;
      background:#333;
      border-radius: 10px;
      padding-bottom: 30px;;
      /* box-shadow: #333 3px 3px 6px; */
    }
    .inputRow{
      width: 100%;
      justify-content: space-evenly;
    }
    .formEndBlock{
      margin-top:30px;
      background:#333;
      border-radius: 10px;
      width:100%;
      padding-bottom:30px;
      padding-top:10px;
      justify-content: center;
    }
    .formEndBlock input{
      margin-right: 20px;
    }
    .formEndBlock .labelInput{
      margin-top: 20px;
    }
    .workDayBlock  .labelInput label{
      display: block;
      width: 100%;
    }
  
    .labelInput :required{
      border-left: red solid 1px;
    }

    .workDayRow{
      justify-content: center;
    }
    .workDayRow button{
      margin-left: 30px;
    }
  
    .buttonStyle{
      margin-top:30px;
      cursor:pointer;
      border:none;
      box-shadow: #333 2px 2px 4px;
      color:white;
      font-size: 15px;
      padding:10px 12px;
      border-radius: 5px;
      width: auto;
    }
    .labelBox{
      max-width: 180px;
    }
    .buttonStyle[disabled]{
      /* border: 1px solid #999999; */
      background-color: #cccccc !important;
      color: #666666;
    }
    .ng-pristine{
      /* border:none  !important; */
    }
    .labelInput .ng-invalid{
      border-left:5px solid red;
    }
    .timeinput{
      padding:8px 8px;
      padding-bottom:7px;
    }
  </style>
  
  <div class="pageWrapper">

    <app-navbar></app-navbar>
    <app-sidemenu   [dashboardData]="dashboardData"></app-sidemenu>

    <div class="invoiceCont">
      <div class="pageTitle">
        Create Per Load Invoice
      </div>
      <form [formGroup]="invoiceForm"  (ngSubmit)="onSubmit()">
        <div class="formEndBlock">
          <div class="invoiceDateLine" style="display: flex; flex-wrap: wrap;">
            <div class="labelInput labelBox">
              <label>Invoice Number</label>
              <input class="block-input-mlarge" id="first-name" type="text" formControlName="invoice_number">
            </div>
            <div class="labelInput labelBox">
              <label>Invoice Date</label>
              <input class="block-input-mlarge"  type="date" formControlName="date">
            </div>
            <div class="labelInput labelBox">
              <label>Paid Date</label>
              <input class="block-input-mlarge" type="date" formControlName="paid_date">
            </div>
            <div class="labelInput labelBox">
              <label>Week Start Date</label>
              <input class="block-input-mlarge" placeholder="Invoice Number" id="last-name" type="date" formControlName="date_start">
            </div>
            <div class="labelInput labelBox">
              <label>Week End Date</label>
              <input class="block-input-mlarge" placeholder="Invoice Number" id="last-name" type="date" formControlName="date_end">
            </div>
          </div>
        </div>
        <!-- ==================WORKDAYS================== -->
        <div *ngIf="workDays" class="workDayHeader">
          <div class="workDayBlock" *ngFor="let day of workDays().controls;let i=index" formArrayName="workDays">
            <div style='position: relative;' class="workDayLine" style="display: block;" [formGroupName]="i">
              <div  *ngIf="workDays().length>1" style="margin-top:30px;padding-top:20px;padding-left:20px;">
                <span  (click)="moveWorkDay(-1, i)" style="color: white;cursor: pointer;margin-right: 5px;font-size: 20px;" class="fa fa-arrow-up"></span>
                <span  (click)="moveWorkDay(1, i)" style="color: white;cursor: pointer;font-size: 20px;"  class="fa fa-arrow-down"></span>
              </div>
              <!-- // WORK TRIP// -->
              <button class="buttonStyle" style=" min-width:100px;margin-top:25px;margin-left:15px;margin-right:40px;background: green;box-shadow: #2d2d2d 2px 2px 2px;color:white;font-weight: 25;" (click)="addTrip(i)">
                Add Trip
              </button>
              <div style="margin:0 auto;width: 100%;">
                <div>
                  <div style="width: 100%;padding-top:30px; justify-content: center;"  *ngFor="let trip of workDayTrips(i).controls;let j=index" formArrayName="trips" >
                    <div style="padding-top:10px;display: block;">
                      <div class="workDayRow" style="display: flex; justify-content: space-evenly;" [formGroupName]="j">
                        <div class="labelInput">
                          <label *ngIf="j!=999">Ticket No</label>
                          <input class="block-input-large"  placeholder="Ticket Number" type="text" formControlName="ticket_number">
                        </div>
                        <div class="labelInput">
                          <label *ngIf="j!=999">Extended Plant Wait Hours</label>
                          <input class="block-input-large"  placeholder="Extended Plant Wait Hours" (change)="calculateWorkDayExtendedWaitHours(i,j)" defaultValue="0" type="number" formControlName="plant_wait_charge">
                        </div>
                        <div class="labelInput">
                          <label *ngIf="j!=999">Extended Site Wait Hours</label>
                          <input class="block-input-large" placeholder="Extended Site Wait Hours" (change)="calculateWorkDayExtendedWaitHours(i,j)"  type="number" formControlName="site_wait_charge">
                        </div>
                        <div class="labelInput">
                          <label *ngIf="j!=999">Miles To Job Site</label>
                          <input class="block-input-large" placeholder="Miles To Job Site" (change)="calculateWorkDayExtendedWaitHours(i,j)"  type="number" formControlName="miles">
                        </div>
                        <div  *ngIf="workDayTrips(i).length>1" style="margin-top: 20px;">
                          <span  (click)="moveTrip(-1, i,j)" style="color: white;cursor: pointer;margin-right: 5px;font-size: 20px;" class="fa fa-arrow-up"></span>
                          <span  (click)="moveTrip(1, i,j)" style="color: white;cursor: pointer;font-size: 20px;"  class="fa fa-arrow-down"></span>
                        </div>
                        <button *ngIf="workDayTrips(i).length>1" class="buttonStyle" style="margin-top:20px;background: red;color:white;font-size: 15px;" (click)="removeTrip(i,j)">
                          Remove
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeInOut-col" style="display:flex;justify-content:space-evenly;padding-top:30px;">
                <div class="labelInput">
                  <div><label>Date</label></div><input class="block-input-smedium" type="date" formControlName="date">
                </div>
                <div class="labelInput">
                  <div><label>Total Extended Wait Hours</label></div><input class="block-input-smedium" type="number" formControlName="extended_wait_charge">
                </div>
                <div class="labelInput">
                  <div><label>Total Site Trips Over 25 Miles</label></div><input class="block-input-smedium" type="number" formControlName="extended_miles_trips">
                </div>
                <button *ngIf="workDays().length>1" style="margin-top:57px;height:40px;cursor:pointer;border:none; box-shadow: #2d2d2d 2px 2px 2px;background:red;color:white;font-size: 15px;padding:10px 12px;border-radius: 5px;;" (click)="removeWorkDay($event,i)">
                  Remove Work Day
                </button>
              </div>
            </div>
            
          </div>
          <button style="margin-top:30px;cursor:pointer;border:none; box-shadow: #2d2d2d 2px 2px 2px;background:green;color:white;font-size: 15px;padding:10px 12px;border-radius: 5px;;" (click)="addWorkDay()">
            Add Work Day
          </button>
        </div>
        <!-- ==================CHARGES================== -->
        <div class="formEndBlock" style="margin-top:30px">
          <div style="display:flex; "  class="inputRow">
            <div class="labelInput">
              <div><label>Per Load Charge</label></div><input (change)="calculateTotalCharged()" class="block-input-smedium"  type="number" formControlName="load_charge">
            </div>
            <div class="labelInput">
              <div><label>Per Trip Charge</label></div><input (change)="calculateTotalCharged()" class="block-input-smedium" type="number" formControlName="gas_surcharge">
            </div>
            <div class="labelInput">
              <div><label>Per Hour Wait Charge</label></div><input (change)="calculateTotalCharged()" class="block-input-smedium"    type="number" formControlName="wait_charge">
            </div>
            <div class="labelInput">
              <div><label>Extended Miles To Site Charge</label></div><input (change)="calculateTotalCharged()" class="block-input-smedium"    type="number" formControlName="miles_charge">
            </div>
          </div>
        </div>
        <!-- ==================ADDITIONAL CHARGES================== -->
        <button class="buttonStyle" style=" min-width:100px;margin-top:25px;;margin-right:40px;background: green;box-shadow: #2d2d2d 2px 2px 2px;color:white;font-weight: 25;" (click)="addCharge()">
          Add Additional Charge
        </button>
        <div *ngIf="additionalCharges().controls.length"  class="formEndBlock" >
          <div *ngFor="let charge of additionalCharges().controls;let i=index" formArrayName="additionalCharges">
          <div style="display:flex;" class="inputRow" [formGroupName]="i" >
            <div class="labelInput">
              <div><label>Date</label></div><input class="block-input-smedium" type="text" formControlName="date">
            </div>
            <div class="labelInput">
              <div><label>Description</label></div><input class="block-input-large" type="text" formControlName="charge">
            </div>
            <div class="labelInput">
              <div><label>Amount</label></div><input class="block-input-smedium"  (change)="calculateTotalCharged()" type="number" formControlName="amount">
            </div>
            <button  style="margin-top:35px;height:40px;cursor:pointer;border:none; box-shadow: #2d2d2d 2px 2px 2px;background:red;color:white;font-size: 15px;padding:10px 12px;border-radius: 5px;width:150px;" (click)="removeCharge(i)">
              Remove Charge
            </button>
          </div>
        </div>
      </div>
        <!-- ==================TOTALS================== -->
        <div class="formEndBlock" style="margin-top:30px;">
          <div style="display:flex;justify-content: center;" >
            <div class="labelInput">
              <div><label>Bill To</label></div><input class="block-input-smedium" type="text" formControlName="bill_to">
            </div>
            <div class="labelInput">
              <div><label>Total Billed</label></div><input class="block-input-smedium" type="number" formControlName="total_billed">
            </div>
          </div>
        </div>
      </form>
      <div>
        <button [disabled]=invoiceForm.invalid (click)="generatePDF()" style='margin-right:10px;background-color: green;'class="buttonStyle">Generate PDF</button>
        <button [disabled]=invoiceForm.invalid (click)="addInvoice()" style='background-color: green;'class="buttonStyle">Add Invoice</button>
      </div>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>