<style>

</style>

<div class="pageWrapper2">
	<app-navbar></app-navbar>
	<app-sidemenu   [dashboardData]="dashboardData"></app-sidemenu>
	<div class="mainCont">
		<div class="pageTitle">
      Inventory
    </div>
		<div style="display:flex;">
      <button style="margin-right: 15px;" class="greenBtn width200 mb20" >
        Add Inventory
      </button>
      <button style="margin-right: 15px;" class="greenBtn width200 mb20" >
        Create Full Invoice<br>(Per Load)
      </button>
      <button  *ngIf='!showAddInvoiceBox' class="greenBtn width200 mb20" (click)="showAddInvoiceBox = !showAddInvoiceBox">
        Add Invoice<br>(Quick)
      </button>
    </div>
	</div>
</div>