<style>
</style>

<div class="pageWrapper2">
  <app-navbar></app-navbar>
  <app-sidemenu [dashboardData]="dashboardData" ></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Vehicles
    </div>
    <div class="addRecordCont" *ngIf='showAddItemBox'>
      <form (ngSubmit)="onSubmit()" class="addRecordInputBox" [formGroup]='vehicleItem'>
        <div class="formRow">
          <div class="addRecordInputItem">
            <label>Vehicle Number</label>
            <input type='text' required="true" formControlName='vehicle_number' placeholder="Vehicle Number">
          </div>
          <!-- <div class="addRecordInputItem">
            <label>Nickname</label>
            <input type='text' required="true" formControlName='nickname' placeholder="Nickname">
          </div> -->
          <div class="addRecordInputItem"><label>Vin</label>
            <input type='text' formControlName='vin' placeholder="Vin">
          </div>
          <div class="addRecordInputItem"><label>Mileage</label>
            <input  type='number' formControlName='mileage' placeholder="Mileage">
          </div>
          <div class="addRecordInputItem"><label>Status</label>
            <select type='number' formControlName='status' placeholder="Status">
              <option>Operational</option>
              <option>At Mechanic/Repair Shop</option>
              <option>Under Maintenance</option>
              <option>Down</option>
            </select>
          </div>
        </div>
        <div class="formRow">
          <div class="addRecordInputItem"><label>Notes</label>
            <textarea type='text' formControlName='notes' placeholder="Notes"></textarea>
          </div>
        </div>
  
      </form>
      <div>
        <button (click)="addvehicle()" [disabled]=vehicleItem.invalid class="greenBtn margin10  width100">Save</button>
        <button (click)="resetForm();showAddItemBox = !showAddItemBox" class="redBtn margin10 width100">Cancel</button>
      </div>
    </div>
    <div class="btnRow">
      <button  *ngIf='!showAddItemBox' class="greenBtn width150 mb20" (click)="showAddItemBox = !showAddItemBox">
        Add Vehicle
      </button>
    </div>
    <!-- START EXPENSE LIST -->
    <div class="listHeaderCont2">
      <div class="headerItem">Vehicle Number</div>
      <div class="headerItem" style="width: 300px;max-width: 300px;">Status</div>
      <div class="headerItem">Mileage</div>
      <div class="headerItem">Vin #</div>
      <!-- <div class="headerItem">Nickname</div> -->
      <div class="headerItem">Actions</div>
    </div>
    <div *ngFor="let vehicle of vehicles">
      <div class="listItemCont2">
        <div class="listItem">{{vehicle.vehicle_number}}</div>
        <div class="listItem" style="width: 300px;max-width: 300px;">{{vehicle.status }}</div>
        <div class="listItem">{{(vehicle.mileage | number) || '-'}}</div>
        <div class="listItem">{{vehicle.vin || '-'}}</div>
        <!-- <div class="listItem">{{vehicle.nickname || '-'}}</div> -->
        <div  class="listItem actionItems">
          <div (click)='deletevehicle(vehicle)' class=" fa fa-remove actionBtn" ></div>
          <div (click)='editvehicle(vehicle)' class="fa fa-edit actionBtn" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
