<style>
    .navbarWrapper{
      margin: 0 auto;
      background:#1976d2;
      color:white;
      position: fixed;
      width: 100%;
      z-index: 999;
      top:0;
      /* height: 100vh; */
    }
    .toolbar{
      /* border-radius: 5px; */
      box-shadow: #222 1px 1px 2px;
      background:#333;
      padding:20px 20px;
      /* width: 100%; */
      justify-content: space-between;
      display: flex;
    }
  
    .toolbar span{
      
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbarWrapper">
    <div class="toolbar" role="banner">
      <div>Mark Paving</div>
    </div>
</div>
