<style>
  .aTypeBtn{
    width: 120px;;
    border-radius: 5px;
    color: white;
    padding:5px 15px;
    background: #2879ff;
    text-align: center;
    height: 20px;
  }
  .recDate{
    padding-top:5px;
    font-weight: bold;
    font-size: 15px;;
  }
</style>

<div class="pageWrapper2">
	<app-navbar></app-navbar>
	<app-sidemenu   [dashboardData]="dashboardData"></app-sidemenu>
	<div class="mainCont">
		<div class="pageTitle">
      Annoucements
    </div>
    <div class="addRecordCont" *ngIf='showAddRecordBox'>
      <form class="addRecordInputBox" [formGroup]='recordItem'>
        <div class="formRow">
					<div class="addRecordInputItem"><label>Subject</label>
            <input  type='text' formControlName='subject' placeholder="Name">
          </div>
          <div class="addRecordInputItem"><label>Type</label>
            <select formControlName='type'>
              <option></option>
              <option value="Informational">Informational</option>
							<option value="Important">Important</option>
            </select>
          </div>
        </div>
				<div class="formRow">
					<div class="addRecordInputItem"><label>Message</label>
            <textarea  type='textarea' formControlName='message' placeholder="Message"></textarea>
          </div>
				</div>
      </form>
      <div>
        <button (click)="addRecord()" [disabled]=recordItem.invalid class="greenBtn margin10  width200">Add Announcement</button>
        <button (click)="showAddRecordBox = !showAddRecordBox" class="redBtn margin10 width150">Cancel</button>
      </div>
    </div>
    <div *ngIf='!showAddRecordBox' style="display:flex;">
      <button   style="margin-right: 15px;" class="greenBtn width200 mb20"  (click)="addRecordClicked();showAddRecordBox = !showAddRecordBox">
        + Add Annoucement
      </button>
    </div>
    <div *ngFor="let rec of records ">
      <div class="listItemCont2" style="text-align: left;justify-content: space-between;">
        <div  *ngIf="rec.type == 'Important'"  class="recDate aTypeBtn" style="background:#ba000d">
          <i class="fa-solid fa-exclamation"></i>
          &nbsp;&nbsp;&nbsp;{{rec.createdDate | date:'longDate'}}</div>
        <div  *ngIf="rec.type == 'Informational'"  class="recDate aTypeBtn">
          <i  class="fa-solid fa-info"></i>
          &nbsp;&nbsp;&nbsp;{{rec.createdDate | date:'longDate'}}</div>
        <div class="recDate">{{rec.subject }}<span> - {{rec.message }}</span></div>

        <div  (click)='deleteRecord(rec)'   class="actionBtn fa fa-close"></div>
      </div>
    </div>
  </div>
</div>