<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
  .sidemenuWrapper {
    z-index: 999;
    display: block;
    background: #333;
    box-shadow: #222 1px 1px 2px 1px;
    max-width: 300px;
    /* height: 100vh; */
    left: 4px;
    border-radius: 10px;
    position: fixed;
    top: 63px;
    width: auto;
    transition: width 1s;
  }

  .menuBtnCont {
    color: white;
    padding: 5px;
    padding-top: 20px;
    /* cursor:pointer; */
  }

  .menuBtnCont rect {
    stroke: white;
    background-color: white;
    fill: white;
  }

  .menuBtnCont svg {
    cursor: pointer
  }

  .openedMenu {
    transition-duration: 1s;
    /* height: 100vh; */
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    transition: max-height 0.5s, overflow 0s;
  }

  .showOpenedMenu {
    padding-bottom: 50px;
    min-width: 180px;
    transition: max-height 0.5s, overflow 0s
  }

  .hideOpenedMenu {
    display: none;
    transition: max-height 0.5s, overflow 0s
  }

  .showClosedMenu {
    visibility: none;
    transition: height 0.5s ease;
  }

  .hideClosedMenu {
    height: 0 !important;
    width: 0;
    /* display: none; */
    transition: opacity 1s ease-out;
    opacity: 0;
    transition: height 0.5s, overflow 0s;
  }

  .menuLink {
    display: flex;
    cursor: pointer;
  }

  .hideMenu {
    height: 0 !important;
    width: 0 !important;
    transition: height 0.5s, overflow 0s;
    visibility: hidden;
    /* display: none; */
  }

  .sideMenuImg {
    width: auto;
    height: 30px;
    margin-right: 10px;
  }

  .sideText {
    padding-top: 7px;
  }
</style>
<div (click)="test()" class="sidemenuWrapper">
  <div #closedMenu class="showClosedMenu" [ngClass]="navOpened?'hideMenu':'showClosedMenu'">
    <div (click)="openMenu(this)" class="menuBtnCont" [@fadeInOut]="navOpened ? 'close' : 'open'">

      <svg viewBox="0 0 100 80" width="40" height="20">
        <rect width="100" height="5"></rect>
        <rect y="25" width="100" height="5"></rect>
        <rect y="50" width="100" height="5" color='white'></rect>
      </svg>
    </div>
  </div>
  <div #openedMenu class="openedMenu" [ngClass]="navOpened?'showOpenedMenu':'hideMenu'"
    [@fadeInOut]="navOpened ? 'open' : 'close'">
    <div class="menuBtnCont" style="text-align: left;">
      <div class="fa fa-close fa-lg" style="margin-right: auto;cursor: pointer;width: 20px;height: 30px;margin-top: 8px;" (click)="closeMenu()">
      </div>
    </div>
    <div *ngIf="dashboard">
      <div (click)="toDashboard()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/dashboard.png">
        <div class="sideText">Dashboard</div>
      </div>
      <div (click)="goToPage('inventory')" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/warehouse.png">
        <div class="sideText">Inventory</div>
      </div>
      <div (click)="invoiceTracker()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/invoice.png">
        <div class="sideText">Invoices</div>
      </div>
      <div (click)="toExpenses()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/expense.png">
        <div class="sideText">Expenses</div>
      </div>
      <div (click)="toFuel()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/fuel.png">
        <div class="sideText">Fuel</div>
      </div>
      <div (click)="toTrucks()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/truck.png">
        <div class="sideText">Trucks</div>
      </div>
      <div (click)="toUpdateLog()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/dashboard.png">
        <div class="sideText">
          Update Log
        </div>
      </div>
      <div (click)="logOut()" class="menuBtnCont menuLink">
        <img class="sideMenuImg" src="../../../assets/images/dashboard.png">
        <div class="sideText">
          Log Out
        </div>
      </div>
    </div>
    <div *ngIf="!dashboard" (click)="goToLoginPage()" class="menuBtnCont menuLink">
      <img class="sideMenuImg" src="../../../assets/images/login.png">
      <div class="sideText">
        Login
      </div>
    </div>
    <div (click)="goToHomePage()" class="menuBtnCont menuLink">
      <img class="sideMenuImg" src="../../../assets/images/home.png">
      <div class="sideText">
        Home
      </div>
    </div>
  </div>
</div>