<style>
    .pageWrapperLogin{
      font-family: 'Quicksand', sans-serif;
      background-color: #1674ea !important;
      margin: 0 auto;
      color:white;
      /* height: 100vh; */
      min-height: 100vh;
      padding-bottom: 200px;
    }
    .toolbar{
      background:#333;
      padding:20px 10px;
    }
  
    .toolbar span{
      padding-left:10px;
    }
    .content{
      margin: 0 auto;
      text-align: center;
    }
    .homeTitle{
      padding:100px 0px;
      font-size:60px;
      text-shadow: #333 3px 3px 3px;
      font-family: 'Bungee Shade', cursive;

    }
    .homeSubtitle{
      font-size: 20px;
      padding-bottom: 10px;
      text-shadow: #333 3px 3px 3px;
    }
    .inputCont{
      display: block;
      padding:10px;
    }
    .inputCont input{
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      width: 250px;
      box-shadow: #333 2px 2px 2px;
    }
    .loginBtn{
      border: none;
      background-color: #1d1d1d;
      color: white;
      margin-top:30px;
      border-radius: 5px;
      padding: 10px 20px;
      box-shadow: #333 2px 2px 2px;
      cursor: pointer;
    }
  </style>
  <!-- Toolbar -->
  <div class="pageWrapperLogin">
    
    <app-navbar></app-navbar>
    <app-sidemenu></app-sidemenu>
    <div class="content" role="main">
      <div class="homeTitle">
        Welcome To OMNI WEB
      </div>
    
      <div class="homeSubtitle">
        {{loginMessage}}
      </div>
  
      <div class="inputCont">
        <input id="email" placeholder="User" type="text" [formControl]="email">
      </div>
      <div class="inputCont">
        <input id="password"  placeholder="Password" type="password" [formControl]="password">
      </div>
      
      <button class="loginBtn" (click)="login()">Login</button>
  
  
    
  </div>
