<style>

</style>

<div class="pageWrapper2">
	<app-navbar></app-navbar>
	<app-sidemenu   [dashboardData]="dashboardData"></app-sidemenu>
	<div class="mainCont">
		<div class="pageTitle">
      Employees
    </div>
		<div class="addRecordCont" *ngIf='showAddRecordBox'>
      <form class="addRecordInputBox" [formGroup]='recordItem'>
        <div class="formRow">
					<div class="addRecordInputItem"><label>Employee ID</label>
            <input  type='text' formControlName='employeeID' placeholder="Name">
          </div>
          <div class="addRecordInputItem"><label>First Name</label>
            <input  type='text' formControlName='firstName' placeholder="Name">
          </div>
					<div class="addRecordInputItem"><label>Middle Name</label>
            <input  type='text' formControlName='middleName' placeholder="Name">
          </div>
					<div class="addRecordInputItem"><label>Last Name</label>
            <input  type='text' formControlName='lastName' placeholder="Name">
          </div>
        </div>
        <div class="formRow">
					<div class="addRecordInputItem"><label>Address 1</label>
            <input  type='text' formControlName='address1' placeholder="Address 1">
          </div>
          <div class="addRecordInputItem"><label>Address 2</label>
            <input  type='text' formControlName='address2' placeholder="Address 1">
          </div>
					<div class="addRecordInputItem"><label>City</label>
            <input  type='text' formControlName='city' placeholder="City">
          </div>
					<div class="addRecordInputItem"><label>State</label>
            <input  type='text' formControlName='state' placeholder="State">
          </div>
          <div class="addRecordInputItem"><label>Zip Code</label>
            <input  type='text' formControlName='zip' placeholder="Zip Code">
          </div>
        </div>
        <div class="formRow">
          <div class="addRecordInputItem"><label>Phone</label>
            <input  type='text' formControlName='phone' placeholder="Phone">
          </div>
          <div class="addRecordInputItem"><label>Email</label>
            <input  type='text' formControlName='email' placeholder="Email">
          </div>
        </div>
				<div class="formRow">
          <div class="addRecordInputItem"><label>Status</label>
            <select formControlName='status'>
              <option></option>
              <option value="Available">Available</option>
							<option value="Unavailable">Unavailable</option>
            </select>
          </div>
					<div class="addRecordInputItem"><label>Work Type</label>
            <select formControlName='workType' placeholder="Category">
              <option></option>
              <option value="Full Time">Full Time</option>
							<option value="Part Time">Part Time</option>
            </select>
          </div>
					<div class="addRecordInputItem"><label>Compensation</label>
            <input type='number' formControlName='compensation' placeholder="Compensation">
          </div>
          <div class="addRecordInputItem"><label>Compensation Type</label>
            <select formControlName='compensationType'>
              <option></option>
              <option value="Yearly">Yearly</option>
							<option value="Hourly">Hourly</option>
            </select>
          </div>
          <div class="addRecordInputItem"><label>Hired Date</label>
            <input type='date' formControlName='hiredDate' placeholder="Compensation">
          </div>
				</div>
				<div class="formRow">
					<div class="addRecordInputItem"><label>Notes</label>
            <textarea  type='textarea' formControlName='notes' placeholder="Notes"></textarea>
          </div>
				</div>
      </form>
      <div>
        <button (click)="addRecord()" [disabled]=recordItem.invalid class="greenBtn margin10  width150">Add Employee</button>
        <button (click)="showAddRecordBox = !showAddRecordBox" class="redBtn margin10 width150">Cancel</button>
      </div>
    </div>
		<div *ngIf='!showAddRecordBox' style="display:flex;">
      <button   style="margin-right: 15px;" class="greenBtn width150 mb20"  (click)="addRecordClicked();showAddRecordBox = !showAddRecordBox">
        + Add Employee
      </button>
    </div>
		<div class="searchCont">
      <span class="fa fa-search fa-1x" style="color:black;"></span>
      <input (input)="filterChange($event)" placeholder='Filter Employees...' type='text'>
      <span class="addRecordInputItem addRecordInputBox">
        <select (change)="filterPropertyChanged($event)" placeholder="Category"  >
          <option selected value="firstName">First Name</option>
          <option value="lastName">Last Name</option>
          <option value="employeeID">Employee ID</option>
        </select>
      </span>
    </div>
		<div class="listHeaderCont2">
			<div (click)="sortPropertyChanged('employeeID')" class="headerItem">Employee ID <span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('firstName')" class="headerItem">First Name <span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('lastName')" class="headerItem" >Last Name <span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('status')" class="headerItem">Status <span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('hiredDate')" class="headerItem">Hired Date <span class="fa fa-sort"></span></div>
      <div class="headerItem" style="cursor:unset;width:140px;">Actions</div>
    </div>
    <div *ngFor="let rec of records ">
      <div class="listItemCont2" style="cursor: pointer;">
				<div class="listItem">{{rec.employeeID}}</div>
        <div class="listItem">{{rec.firstName}}</div>
				<div class="listItem">{{rec.lastName}}</div>
        <div class="listItem">{{rec.status || '-'}}</div>
        <div class="listItem">{{(rec.hiredDate | date: 'mediumDate') || '-'  }}</div>
        <div  class="listItem actionItems" style="width:140px;">
					<div (click)='infoClicked(rec)' class="fa fa-info actionBtn" ></div>
          <div (click)='editRecordClicked(rec)' class="fa fa-edit actionBtn" ></div>
          <div (click)='deleteRecord(rec)'  class=" fa fa-remove actionBtn" ></div>
        </div>
      </div>
      <div *ngIf="recordEdit == rec" class="editRecordCont" style="display:block;">
        <form class="addRecordInputBox" [formGroup]='editItem'>
          <div class="formRow">
            <div class="addRecordInputItem"><label>Employee ID</label>
              <input  type='text' formControlName='employeeID' placeholder="Name">
            </div>
            <div class="addRecordInputItem"><label>First Name</label>
              <input  type='text' formControlName='firstName' placeholder="Name">
            </div>
            <div class="addRecordInputItem"><label>Middle Name</label>
              <input  type='text' formControlName='middleName' placeholder="Name">
            </div>
            <div class="addRecordInputItem"><label>Last Name</label>
              <input  type='text' formControlName='lastName' placeholder="Name">
            </div>
          </div>
          <div class="formRow">
            <div class="addRecordInputItem"><label>Address 1</label>
              <input  type='text' formControlName='address1' placeholder="Address 1">
            </div>
            <div class="addRecordInputItem"><label>Address 2</label>
              <input  type='text' formControlName='address2' placeholder="Address 2"  >
            </div>
            <div class="addRecordInputItem"><label>City</label>
              <input  type='text' formControlName='city' placeholder="City" >
            </div>
            <div class="addRecordInputItem"><label>State</label>
              <input  type='text' formControlName='state' placeholder="State"  >
            </div>
            <div class="addRecordInputItem"><label>Zip Code</label>
              <input  type='text' formControlName='zip' placeholder="Zip Code" >
            </div>
          </div>
          <div class="formRow">
            <div class="addRecordInputItem"><label>Phone</label>
              <input  type='text' formControlName='phone' placeholder="Phone">
            </div>
            <div class="addRecordInputItem"><label>Email</label>
              <input  type='text' formControlName='email' placeholder="Email">
            </div>
          </div>
          <div class="formRow">
            <div class="addRecordInputItem"><label>Status</label>
              <select formControlName='status'  value="{{rec.status}}">
                <option></option>
                <option value="Available">Available</option>
                <option value="Unavailable">Unavailable</option>
              </select>
            </div>
            <div class="addRecordInputItem"><label>Work Type</label>
              <select formControlName='workType' placeholder="Category"  value="{{rec.workType}}">
                <option></option>
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
              </select>
            </div>
            <div class="addRecordInputItem"><label>Compensation</label>
              <input type='number' formControlName='compensation' placeholder="Compensation" value="{{rec.compensation}}">
            </div>
            <div class="addRecordInputItem"><label>Compensation Type</label>
              <select formControlName='compensationType'  value="{{rec.compensationType}}">
                <option></option>
                <option value="Yearly">Yearly</option>
                <option value="Hourly">Hourly</option>
              </select>
            </div>
            <div class="addRecordInputItem"><label>Hired Date</label>
              <input type='date' formControlName='hiredDate' placeholder="Compensation"  value="{{rec.hiredDate}}">
            </div>
          </div>
          <div class="formRow">
            <div class="addRecordInputItem"><label>Notes</label>
              <textarea  type='textarea' formControlName='notes' placeholder="Notes"  value="{{rec.notes}}"></textarea>
            </div>
          </div>
        </form>
        <div style="display: flex;">
          <div (click)='updateRecord(rec,$event)' class="greenBtn width100">Update</div>
          <div (click)='recordEdit = null' class="redBtn width100">Cancel</div>
        </div>
      </div>
    </div>
    <!-- INFO BOX -->
    <div  *ngIf="showInfoBox" class="infoBox">
      <div id="myModal" class="modal" (click)="modalClicked($event)">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" (click)="!showInfoBox=!showInfoBox">&times;</span>
          <h2 style="margin-top:80px;">{{infoRec.firstName+' '}}{{infoRec.middleName || ''+' '}}{{infoRec.lastName}}</h2>
          <h4  *ngIf="infoRec.status">{{infoRec.status}}</h4>
          <p  *ngIf="infoRec.hiredDate">Employee ID: {{infoRec.employeeID}}</p>
          <p  *ngIf="infoRec.hiredDate">Hired: {{infoRec.hiredDate}}</p>
          <p  *ngIf="infoRec.phone"><i class="fa-solid fa-phone"></i>  {{infoRec.phone+' '}}</p>
          <p  *ngIf="infoRec.email"><i class="fa-solid fa-envelope"></i>  {{infoRec.email+' '}}</p>
          <p *ngIf="infoRec.address1"><i class="fa-solid fa-location-dot"></i>  {{infoRec.address1+' '}}{{infoRec.address2+' '}}<br>{{infoRec.city+' '}}{{infoRec.state+' '}}{{infoRec.zip+' '}}</p>
          <p *ngIf="infoRec.workType && infoRec.compensation ">{{infoRec.workType+' - '}}{{(infoRec.compensation | currency)+'/'}}{{infoRec.compensationType+' '}}</p>
          <h3 *ngIf="infoRec.notes" style="padding-top:80px;">Notes:</h3>
          <p  *ngIf="infoRec.notes" >{{infoRec.notes||'-'}}</p>
        </div>
      
      </div>
    </div>
  </div>
</div>