<style>
  .content{
    margin: 0 auto;
    text-align: center;
  }
  .inputCont{
    display: block;
    padding:10px;
  }
  .inputCont input{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    width: 250px;
    box-shadow: #333 2px 2px 2px;
  }
  .mainCont{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .pageTitle{
    padding-top:100px;
    padding-bottom:20px;
    font-size: 60px;;
  }
  .listHeaderCont{
    display: flex;
    justify-content: space-around;
    padding:10px 20px;
    background-color: white;
    border-radius: 5px;
    min-width: 50px;
    color:#1976d2;
    font-weight: bold;
    text-align: center;
  }
  .headerItem, .listItem{
    text-align: center;
    
    max-width: 400px;
    /* min-width: 200px; */
  }
  .listItemText{
    line-height: 25px;;
  }
  .actionItems{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  .addInvoice{
    background:green;
    color:white;
    padding: 20px 20px;
    width: auto;
    border-radius: 5px;
    border:none;
    margin-bottom:20px;
    /* font-weight: bold;; */
  }
  .addInvoiceCont{
    padding:20px;
    padding-top:25px;
    background: #4e7df8;
    /* box-shadow: #333 2px 2px 6px; */
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #222;

    border-radius: 5px;
  }
  .addInvoiceInputBox{
    display: flex;
  }
  .addInvoiceInputBox input{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }
  .addInvoiceInputItem{
    width: auto;
  }
  .addInvoiceInputItem label{
    margin-left: 10px;
  }
  .modalBox{
    background-color: white;
    padding:20px;
    position: fixed;
    top:50%;
    /* height: 400px;
    width: 400px; */
    box-shadow: 2px 2px 2px #222;
    border:none;
    border-radius: 5px;
  }
  .modalTitle{
    color: black;
    padding-bottom: 30px;;
  }
</style>
<!-- Toolbar -->
<div class="pageWrapper2">
  <app-navbar></app-navbar>
  <app-sidemenu   [dashboardData]="dashboardData"></app-sidemenu>
  <!-- MAIN CONTENT -->
  <div class="mainCont">
    <div *ngIf='showModal' class="modalBox"  [formGroup]='paidItem'>
      <div class="modalTitle">
        Set Invoice paid Date
      </div>
      <input type="date" formControlName='paidDate'>
      <div style="margin-top:30px;">
        <button (click)='setInvoicePaidDate()' [disabled]="paidItem.invalid" style="margin-right: 20px;" class="greenBtn">Update</button>
        <button (click)="clearPaid();showModal = !showModal" class="redBtn">Cancel</button>
      </div>
    </div>
    <div class="pageTitle">
      Invoices
    </div>
    <div style="display:flex;">
      <button style="margin-right: 15px;" class="greenBtn width200 mb20" (click)="createInvoice()">
        Create Full Invoice<br>(Hourly)
      </button>
      <button style="margin-right: 15px;" class="greenBtn width200 mb20" (click)="createInvoicePerLoad()">
        Create Full Invoice<br>(Per Load)
      </button>
      <button  *ngIf='!showAddInvoiceBox' class="greenBtn width200 mb20" (click)="showAddInvoiceBox = !showAddInvoiceBox">
        Add Invoice<br>(Quick)
      </button>
    </div>
    <!-- SEARCH BOX -->
    <div class="searchCont " style="display:flex;">
      <div  class="addRecordInputItem addRecordInputBox"  style="display: flex;">
        <!-- <span class="fa fa-search fa-1x" style="color:black;"></span> -->
        <div class="addRecordInputItem "><label>Search</label>
          <input (input)="filterChange($event)" placeholder='Filter Invoices...' type='text'>
        </div>
        <span class="addRecordInputItem "><label>Filter By</label>
          <select (change)="filterPropertyChanged($event)" >
            <option selected value="invoiceNumber">Invoice #</option>
            <option value="billedTo">Billed To</option>
          </select>
        </span>
      </div>
      <div class="addRecordInputItem addRecordInputBox" style="margin-left:auto;display: flex;">
        <div class="addRecordInputItem"><label>Paid Status</label>
          <select (change)="filterTasks($event)"  value="All" style="width: 150px;">
            <option value="All">All</option>
            <option value="Paid">Paid</option>
            <option value="Not Paid">Not Paid</option>
          </select>
        </div>
        <div class="addRecordInputItem"><label>View Records From</label>
          <select (change)="viewFromChanged($event)"  value="All" style="width: 150px;">
            <option selected value="Last 30 Days">Last 30 Days</option>
              <option value="This Year">This Year</option>
              <option value="Last Year">Last Year</option>
          </select>
        </div>

      </div>
      
    </div>
    <div style="padding:5px;padding-bottom:10px;width: 100%;">
      <div style="text-align:center;color:#222;font-family: 'Source Sans Pro', sans-serif !important;font-weight: 600;font-size: 20px;">Invoices Count: {{records.length}} | Total: {{total | currency}}</div>
    </div>
    <div class="addRecordCont" *ngIf='showAddInvoiceBox'>
      <form (ngSubmit)="onSubmit()" class="addRecordInputBox" [formGroup]='invoiceItem'>
        <div class="addRecordInputItem">
          <label>Invoice Number</label>
          <input type='text' formControlName='invoiceNumber' placeholder="Invoice Number">
        </div>
        <div class="addRecordInputItem"><label>Invoice Date</label>
          <input type='date' name='invoiceDate' placeholder="Invoice Date" formControlName='invoiceDate'>
        </div>
        <div class="addRecordInputItem"><label>Billed To</label>
          <input type='text' formControlName='billedTo' placeholder="Billed To">
        </div>
        <div class="addRecordInputItem"><label>Total Billed</label>
          <input type='number' formControlName='totalBilled' placeholder="Total Billed">
        </div>
        <div class="addRecordInputItem"><label>Paid Date</label>
          <input type='date' formControlName='paidDate' placeholder="Paid Date">
        </div>
      </form>
      <div>
        <button (click)="addItem()" [disabled]=invoiceItem.invalid class="greenBtn margin10  width100">Add</button>
        <button (click)="showAddInvoiceBox = !showAddInvoiceBox" class="redBtn margin10 width100">Cancel</button>
      </div>
    </div>
    <div class="listHeaderCont2">
      <div (click)="sortPropertyChanged('invoiceNumber')" class="headerItem" style="width:150px">Invoice #&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('invoiceDate')" class="headerItem">Invoice Date&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('billedTo')" class="headerItem"  style="width:310px;">Billed To&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('totalBilled')" class="headerItem">Total Billed&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('paidDate')" class="headerItem">Paid Date&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('paidDate')" class="headerItem">Invoice Paid&nbsp;<span class="fa fa-sort"></span></div>
      <div class="headerItem"  style="cursor:unset !important;width:250px;" >Actions</div>
    </div>
    <div *ngFor="let invoice of records">
      <div class="listItemCont2">
        <div class="listItem listItemText"  style="width:150px">{{invoice.invoiceNumber}}</div>
        <div class="listItem listItemText">{{invoice.invoiceDate | date: 'mediumDate' }}</div>
        <div class="listItem listItemText"  style="width:310px;">{{invoice.billedTo}}</div>
        <div class="listItem listItemText">{{invoice.totalBilled | currency}}</div>
        <div class="listItem  listItemText">{{invoice.paidDate?(invoice.paidDate | date: 'mediumDate'):'-'  }}</div>
        <div class="listItem">
          <div *ngIf='invoice.paidDate'  style='background:#b3f7cf; border-radius: 5px;padding:4px;color:#2f916c;font-size: 13px;font-weight: 800;' >{{invoice.paidDate?'PAID':'UNPAID'}}</div>
          <div *ngIf='!invoice.paidDate' style='background:#ffe7ef; border-radius: 5px;padding:4px;color:rgb(131, 44, 44);font-size: 13px;font-weight: 800;' >{{invoice.paidDate?'PAID':'UNPAID'}}</div>
        </div>
        <div  class="listItem actionItems" style="width:250px;">
          <div class="actionBtn" *ngIf='!invoice.paidDate' (click)='editPaidDate(invoice)' class="fa-solid fa-dollar-sign actionBtn"  ></div>
          <div class="actionBtn"  style="cursor: unset;"  *ngIf='invoice.paidDate' style='width: 40px;'></div>
          <div class="actionBtn" (click)='deleteInvoice(invoice)'  class="fa fa-remove actionBtn" ></div>
          <div class="actionBtn" *ngIf='invoice.invoiceData' (click)='downloadInvoice(invoice.invoiceData)' class="fa-solid fa-download actionBtn" ></div>
          <div class="actionBtn"  style="cursor: unset;"  *ngIf='!invoice.invoiceData'></div>
          <div class="actionBtn" *ngIf='invoice.invoiceData' (click)='editInvoice(invoice)' class="fa-solid fa-pen-to-square actionBtn" ></div>
          <div class="actionBtn" *ngIf='!invoice.invoiceData'  style='width: 40px;cursor:unset !important;'></div>
        </div>
      </div>
    </div>
  </div>
</div>
