<style>
    .homeWrapper{
        /* background:gray; */
        background:white;
        height: 100%;
        min-height: 100vh;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 120px;
    }
    .siteTitle{
        text-align: center;
        margin-top:100px;
        font-size:80px;
        /* font-family:fantasy;
         */
         font-weight: bold;
    }
    .imageDiv{
        height: 700px;
        width: 100%;
        background: url('../../../assets/images/image000000.jpg');
        background-size: cover;
        background-position: center;
    }
    .siteText{
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        padding-top: 30px;
    }
    .aStyle{
        color: black;
    }
</style>
<div class="homeWrapper">
    <app-navbar></app-navbar>
    <app-sidemenu></app-sidemenu>
    <div class="imageDiv"></div>
    <div class="siteTitle">About Us</div>
    <div class="siteText">
        We are a family-sized concrete transportation service founded in 2021. We operate out of Forney, TX and serve the Dallas Metroplex Area.<br><br>
        Call us at <a class="aStyle" href='tel:4697161822'>469-716-1822</a>
    </div>
    <div style="text-align: center;">
        <div class="siteTitle">Follow Us</div>
      <div style="padding-top:30px;"><a href='https://www.facebook.com/MARKPavinginc/'><i class="fa fa-facebook-official" style="font-size:48px;color:#1674ea"></i></a></div>
    </div>
</div>
