<style>
  .pageWrapper{
    margin: 0 auto;
    color:white;
    justify-content: center;
    padding-bottom: 200px;
    min-height: 100vh;
  }
  .mainCont{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .listHeaderCont{
    display: flex;
    justify-content: space-around;
    padding:10px 20px;
    background-color: white;
    border-radius: 5px;
    min-width: 50px;
    color:#1976d2;
    font-weight: bold;
    text-align: center;
  }
  .listItemCont{
    justify-content: space-around;
    padding:10px 20px;
    font-weight: bold;
    display: flex;
    /* border-bottom: 1px solid white; */
    text-align: center;
  }
  .headerItem, .listItem{
    text-align: center;
    max-width: 250px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .listItem{
    justify-content: space-evenly;
  }
  .btnRow button{
    margin-right:10px;
  }
  .addExpenseCont{
    padding:15px;
    background: #65a3e1;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .formRow{
    margin-bottom: 20px;;
    display: flex;
  }
  .formRow div{
    margin-right: 10px;;
  }
  .addExpenseInputBox input{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox select{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox option{
    border:none;
    padding: 10px;
    /* margin: 10px; */
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox textarea{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    width: 400px;
    height: 100px;
  }
  .addExpenseInputItem{
    display: inline-grid;
    width: auto;
  }
  .addExpenseInputItem label{
    margin-left: 10px;
  }
  .modalBox{
    background-color: white;
    padding:20px;
    position: absolute;
    top:50%;
    left:40%;
    box-shadow: 2px 2px 2px #222;
    border:none;
    border-radius: 5px;
  }
  .modalTitle{
    color: black;
    padding-bottom: 30px;;
  }
</style>

<div class="pageWrapper">
  <app-navbar></app-navbar>
  <app-sidemenu [dashboardData]="dashboardData" ></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Expenses
    </div>
    <div class="addExpenseCont" *ngIf='showAddExpenseBox'>
      <form (ngSubmit)="onSubmit()" class="addExpenseInputBox" [formGroup]='expenseItem'>
        <div class="formRow">
          <div class="addExpenseInputItem">
            <label>Item</label>
            <input type='text' formControlName='item' placeholder="Item">
          </div>
          <div class="addExpenseInputItem"><label>Category</label>
            <select  formControlName='category' placeholder="Category">
              <option value="Parts">Parts</option>
              <option  value="Repair">Repair</option>
              <option  value="Food">Food</option>
              <option  value="Insurance">Insurance</option>
              <option  value="Other">Other</option>
            </select>
          </div>
          <div class="addExpenseInputItem"><label>Quantity</label>
            <input  type='number' formControlName='quantity' placeholder="Quantity">
          </div>
          <div class="addExpenseInputItem"><label>Total</label>
            <input type='number' formControlName='total' placeholder="Total">
          </div>
          
          <div class="addExpenseInputItem"><label>Date</label>
            <input type='date' formControlName='date' placeholder="Paid Date">
          </div>
        </div>
        <!-- <div class="formRow">
          <div class="addExpenseInputItem"><label>Description</label>
            <textarea type='text' formControlName='description' placeholder="Description"></textarea>
          </div>
        </div> -->

      </form>
      <div>
        <button (click)="addExpense()" [disabled]=expenseItem.invalid class="greenBtn margin10  width100">Add</button>
        <button (click)="showAddExpenseBox = !showAddExpenseBox" class="redBtn margin10 width100">Cancel</button>
      </div>
    </div>
    <div class="btnRow">
      <button  *ngIf='!showAddExpenseBox' class="greenBtn width150 mb20" (click)="addItemClicked();showAddExpenseBox = !showAddExpenseBox">
        Add Expense
      </button>
    </div>
    <!-- START EXPENSE LIST -->
    <div class="listHeaderCont2">
      <div class="headerItem"  style="width: 250px;">Item</div>
      <div class="headerItem">Category</div>
      <div class="headerItem">Quantity</div>
      <div class="headerItem">Total</div>
      <div class="headerItem">Date</div>
      <div class="headerItem">Actions</div>
    </div>
    <div *ngFor="let expense of expenses">
      <table class="listItemCont">
        <td class="listItem" style="width: 250px;">{{expense.item}}</td>
        <td class="listItem">{{expense.category }}</td>
        <td class="listItem">{{expense.quantity}}</td>
        <td class="listItem">{{expense.total | currency}}</td>
        <td class="listItem">{{expense.date |date: 'mediumDate'  }}</td>
        <td class="listItem actionItems">
          <div (click)='deleteExpense(expense)' class="actionBtn" style='background:red;'>-</div>
          <div (click)='editExpense(expense)' class="fa fa-edit actionBtn" style='background:white;'></div>
        </td>
    </table>
  </div>
  </div>
</div>