<style>
  .pageWrapper{
    margin: 0 auto;
    color:white;
    justify-content: center;
    padding-bottom: 200px;
    min-height: 100vh;
  }
  .mainCont{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .listHeaderCont{
    display: flex;
    justify-content: space-around;
    padding:10px 20px;
    background-color: white;
    border-radius: 5px;
    min-width: 50px;
    color:#1976d2;
    font-weight: bold;
    text-align: center;
  }
  .listItemCont{
    justify-content: space-around;
    padding:10px 20px;
    font-weight: bold;
    display: flex;
    /* border-bottom: 1px solid white; */
    text-align: center;
  }
  .headerItem, .listItem{
    text-align: center;
    max-width: 250px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .listItem{
    justify-content: space-evenly;
  }
  .btnRow button{
    margin-right:10px;
  }
  .addExpenseCont{
    padding:15px;
    background: #65a3e1;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .formRow{
    margin-bottom: 20px;;
    display: flex;
  }
  .formRow div{
    margin-right: 10px;;
  }
  .addExpenseInputBox input{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox select{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox option{
    border:none;
    padding: 10px;
    /* margin: 10px; */
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox textarea{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    width: 400px;
    height: 100px;
  }
  .addExpenseInputItem{
    display: inline-grid;
    width: auto;
  }
  .addExpenseInputItem label{
    margin-left: 10px;
  }
  .modalBox{
    background-color: white;
    padding:20px;
    position: absolute;
    top:50%;
    left:40%;
    box-shadow: 2px 2px 2px #222;
    border:none;
    border-radius: 5px;
  }
  .modalTitle{
    color: black;
    padding-bottom: 30px;;
  }
</style>

<div class="pageWrapper">
  <app-navbar></app-navbar>
  <app-sidemenu [dashboardData]="dashboardData" ></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Expenses
    </div>
    <div class="addRecordCont" *ngIf='showAddExpenseBox'>
      <form (ngSubmit)="onSubmit()" class="addRecordInputBox" [formGroup]='expenseItem'>
        <div class="formRow">
          <div class="addRecordInputItem">
            <label>Item</label>
            <input type='text' formControlName='item' placeholder="Item">
          </div>
          <div class="addRecordInputItem"><label>Category</label>
            <select  formControlName='category' placeholder="Category">
              <option></option>
              <option *ngFor="let c of categories;" value="{{c.name}}">{{c.name}}</option>
            </select>
          </div>
          <div class="addRecordInputItem"><label>Quantity</label>
            <input  type='number' formControlName='quantity' placeholder="Quantity">
          </div>
          <div class="addRecordInputItem"><label>Unit</label>
            <select  formControlName='unit' placeholder="Unit">
              <option></option>
              <option *ngFor="let u of units;" value="{{u.unit}}">{{u.unit}}</option>
            </select>
          </div>
          <div class="addRecordInputItem"><label>Total</label>
            <input type='number' formControlName='total' placeholder="Total">
          </div>
          
          <div class="addRecordInputItem"><label>Date</label>
            <input type='date' formControlName='date' placeholder="Paid Date">
          </div>
        </div>
      </form>
      <div>
        <button *ngIf="editRecord" (click)="updateRecord()" [disabled]=expenseItem.invalid class="greenBtn margin10  width150">Edit Expense</button>
        <button *ngIf="!editRecord" (click)="addExpense()" [disabled]=expenseItem.invalid class="greenBtn margin10  width150">Add Expense</button>
        <button  (click)="showAddExpenseBox = !showAddExpenseBox" class="redBtn margin10 width150">Cancel</button>
      </div>
    </div>
    <div class="addRecordCont" *ngIf='showAddCategoryBox'>
      <form (ngSubmit)="onSubmit()" class="addRecordInputBox" [formGroup]='categoryItem'>
        <div class="formRow">
          <div class="addRecordInputItem"><label>Category</label>
            <input  type='text' formControlName='name' placeholder="Category">
          </div>
        </div>
      </form>
      <div>
        <button (click)="addCategory()" [disabled]=categoryItem.invalid class="greenBtn margin10  width150">Add Category</button>
        <button (click)="showAddCategoryBox = !showAddCategoryBox" class="redBtn margin10 width150">Cancel</button>
      </div>
      <div class="tagCont">
        <div *ngFor="let u of categories">
          <div class="tagItem" (click)="removeCategory(u)"><span class="fa fa-close" style="padding-right:10px;"></span>{{u.name}}</div>
        </div>
      </div>
    </div>
    <div class="addRecordCont" *ngIf='showAddUnitBox'>
      <form (ngSubmit)="onSubmit()" class="addRecordInputBox" [formGroup]='unitItem'>
        <div class="formRow">
          <div class="addRecordInputItem"><label>Unit</label>
            <input  type='text' formControlName='unit' placeholder="Unit">
          </div>
        </div>
      </form>
      <div>
        <button (click)="addUnit()" [disabled]=unitItem.invalid class="greenBtn margin10  width100">Add Unit</button>
        <button (click)="showAddUnitBox = !showAddUnitBox" class="redBtn margin10 width100">Cancel</button>
      </div>
      <div class="tagCont">
        <div *ngFor="let u of units">
          <div class="tagItem" (click)="removeUnit(u)"><span class="fa fa-close" style="padding-right:10px;"></span>{{u.unit}}</div>
        </div>
      </div>
    </div>
    <div  *ngIf='!showAddExpenseBox && !showAddCategoryBox && !showAddUnitBox' class="btnRow">
      <button  class="greenBtn width150 mb20" (click)="addItemClicked();showAddExpenseBox = !showAddExpenseBox">
        + Add Expense
      </button>
      <button   style="margin-right: 15px;" class="greenBtn width150 mb20"  (click)="addCategoryClicked();showAddCategoryBox = !showAddCategoryBox">
        + Add Category
      </button>
      <button   style="margin-right: 15px;" class="greenBtn width150 mb20"  (click)="addUnitClicked();showAddUnitBox = !showAddUnitBox">
        + Add Unit
      </button>
    </div>
    <div class="searchCont">
      <span class="fa fa-search fa-1x" style="color:black;"></span>
      <input (input)="filterChange($event)" placeholder='Filter Expenses...' type='text'>
      <span class="addRecordInputItem addRecordInputBox">
        <select (change)="filterPropertyChanged($event)" placeholder="Category"  >
          <option selected value="item">Item</option>
          <option value="category">Category</option>
          <option value="unit">Unit</option>
        </select>
      </span>
    </div>
    
    <!-- START EXPENSE LIST -->
    <div class="listHeaderCont2">
      <div class="headerItem"  style="width: 250px;">Item</div>
      <div class="headerItem">Category</div>
      <div class="headerItem">Quantity</div>
      <div class="headerItem">Total</div>
      <div class="headerItem">Date</div>
      <div class="headerItem">Actions</div>
    </div>
    <div *ngFor="let rec of records">
      <div class="listItemCont2">
        <td class="listItem" style="width: 250px;">{{rec.item}}</td>
        <td class="listItem">{{rec.category }}</td>
        <td class="listItem">{{rec.quantity}} {{rec.unit || ''}}</td>
        <td class="listItem">{{rec.total | currency}}</td>
        <td class="listItem">{{rec.date |date: 'mediumDate'  }}</td>
        <td class="listItem actionItems">
          <div (click)='deleteExpense(rec)' class="fa fa-remove actionBtn" ></div>
          <div (click)='editExpense(rec)' class="fa fa-edit actionBtn"></div>
        </td>
    </div>
  </div>
  </div>
</div>