<style>
  .pageWrapper{
    margin: 0 auto;
    background:#1976d2;
    color:white;
    justify-content: center;
    padding-bottom: 200px;
    min-height: 100vh;
  }
  .mainCont{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .listHeaderCont{
    display: flex;
    justify-content: space-around;
    padding:10px 20px;
    background-color: white;
    border-radius: 5px;
    min-width: 50px;
    color:#1976d2;
    font-weight: bold;
    text-align: center;
  }
  .listItemCont{
    justify-content: space-around;
    padding:10px 20px;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid white;
    text-align: center;
  }
  .headerItem, .listItem{
    text-align: center;
    max-width: 170px;
    min-width: 120px;
  }
  .btnRow button{
    margin-right:10px;
  }
  .addExpenseCont{
    padding:15px;
    background: #65a3e1;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .formRow{
    margin-bottom: 20px;;
    display: flex;
  }
  .formRow div{
    margin-right: 10px;;
  }
  .addExpenseInputBox input{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox select{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox option{
    border:none;
    padding: 10px;
    /* margin: 10px; */
    border-radius: 5px;
    width: auto;
  }

  .addExpenseInputBox textarea{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    width: 400px;
    height: 100px;
  }
  .addExpenseInputItem{
    display: inline-grid;
    width: auto;
  }
  .addExpenseInputItem label{
    margin-left: 10px;
  }
  .modalBox{
    background-color: white;
    padding:20px;
    position: absolute;
    top:50%;
    left:40%;
    /* height: 400px;
    width: 400px; */
    box-shadow: 2px 2px 2px #222;
    border:none;
    border-radius: 5px;
  }
  .modalTitle{
    color: black;
    padding-bottom: 30px;;
  }
</style>

<div class="pageWrapper">
  <app-navbar></app-navbar>
  <app-sidemenu [dashboardData]="dashboardData" ></app-sidemenu>
  <div class="mainCont">
    
    <div class="pageTitle">
      Expenses
    </div>
    <div class="addExpenseCont" *ngIf='showAddExpenseBox'>
      <form (ngSubmit)="onSubmit()" class="addExpenseInputBox" [formGroup]='expenseItem'>
        <div class="formRow">
          <div class="addExpenseInputItem">
            <label>Item</label>
            <input type='text' formControlName='item' placeholder="Item">
          </div>
          <div class="addExpenseInputItem"><label>Categroy</label>
            <input type='text' formControlName='category' placeholder="Unit">
          </div>
          
          
          <div class="addExpenseInputItem"><label>Date</label>
            <input type='date' formControlName='date' placeholder="Paid Date">
          </div>
        </div>
        <div class="formRow">
          <div class="addExpenseInputItem"><label>Unit</label>
            <input type='text' formControlName='unit' placeholder="Unit">
          </div>
          <div class="addExpenseInputItem"><label>Cost Per Unit</label>
            <input (change)="calculateTotal()" type='number' formControlName='cost_per_unit' placeholder="Cost Per Unit">
          </div>
          <div class="addExpenseInputItem"><label>Quantity</label>
            <input  (change)="calculateTotal()"  type='number' formControlName='quantity' placeholder="Quantity">
          </div>
          <div class="addExpenseInputItem"><label>Total</label>
            <input [readonly]=true type='number' formControlName='total' placeholder="Total">
          </div>
        </div>
        <div class="formRow">
          <div class="addExpenseInputItem"><label>Description</label>
            <textarea type='text' formControlName='description' placeholder="Description"></textarea>
          </div>
        </div>

      </form>
      <div>
        <button (click)="addExpense()" [disabled]=expenseItem.invalid class="greenBtn margin10  width100">Add</button>
        <button (click)="showAddExpenseBox = !showAddExpenseBox" class="redBtn margin10 width100">Cancel</button>
      </div>
    </div>
    <div class="btnRow">
      <button  *ngIf='!showAddExpenseBox' class="greenBtn width150 mb20" (click)="showAddExpenseBox = !showAddExpenseBox">
        Add Expense
      </button>
      <!-- <button  *ngIf='!showAddExpenseBox' class="greenBtn width150 mb20" (click)="showAddExpenseBox = !showAddExpenseBox">
        Add Category
      </button>
      <button  *ngIf='!showAddExpenseBox' class="greenBtn width150 mb20" (click)="showAddExpenseBox = !showAddExpenseBox">
        Add Unit
      </button> -->
    </div>
    <!-- START EXPENSE LIST -->
    <div class="listHeaderCont">
      <div class="headerItem">Item</div>
      <div class="headerItem">Category</div>
      <div class="headerItem">Quantity</div>
      <div class="headerItem">Cost Per Unit</div>
      <!-- <div class="headerItem">Unit</div> -->
      <div class="headerItem">Total</div>
      <div class="headerItem">Date</div>
      <!-- <div class="headerItem">Invoice Paid</div> -->
      <div class="headerItem">Actions</div>
    </div>
    <div *ngFor="let expense of expenses">
      <div class="listItemCont">
        <div class="listItem">{{expense.item}}</div>
        <div class="listItem">{{expense.category }}</div>
        <div class="listItem">{{expense.quantity}}</div>
        <div class="listItem">{{expense.cost_per_unit | currency}} / {{expense.unit}}</div>
        <!-- <div class="listItem">{{expense.unit}}</div> -->
        <div class="listItem">{{expense.total | currency}}</div>
        <div class="listItem">{{expense.date |date: 'mediumDate'  }}</div>
        <div  class="listItem actionItems">
          
          <!-- <div *ngIf='!expense.paidDate' (click)='editPaidDate(expense)' style='cursor:pointer;width: 20px; text-align:center;background:orange;border-radius: 25px;'>$</div> -->
          <div *ngIf='expense.paidDate' style='width: 20px;'></div>
          <div (click)='deleteExpense(expense)' style='cursor:pointer;width: 20px; text-align:center;background:red;border-radius: 25px;'>-</div>
          <!-- <div *ngIf='expense.invoiceData' (click)='downloadInvoice(expense.invoiceData)' class="fa fa-download" style='cursor:pointer;font-size:14px; width: 20px;padding-top:2px;color:black; text-align:center;background:white;border-radius: 25px;'></div> -->
          <div *ngIf='!expense.invoiceData'  style='cursor:pointer;font-size:12px; width: 20px;'></div>
          <div *ngIf='expense.invoiceData' (click)='editExpense(expense)' class="fa fa-edit" style='cursor:pointer;font-size:14px; width: 20px;padding-top:2px;color:black; text-align:center;background:white;border-radius: 25px;'></div>
          <div *ngIf='!expense.invoiceData'  style='width: 20px;'></div>
        </div>
      </div>
    </div>
  </div>
</div>