/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "defaultBlack";
    src: url("/src/assets/fonts/Poppins-Regular.ttf");
}
body{
    margin:0;
    font-family: defaultBlack, sans-serif;
}