<style>
    .pageWrapper{
      margin: 0 auto;
      color:white;
      min-height: 100vh;
      padding-bottom: 200px;
    }
    .content{
      margin: 0 auto;
      text-align: center;
    }
    .cardBox{
      background:#3d70fc;
      border:none;
      border-radius: 5px;
      min-width:315px;
      height:125px;
      padding:15px 10px;
      text-align: center;
      margin-right: 20px;
      /* box-shadow: #333 2px 2px 2px; */
    }
    .graphBox{
      background:#fff;
      border:none;
      border-radius: 5px;
      width:1320px;
      height:325px;
      padding:15px 10px;
      text-align: center;
      margin-right: 20px;
      /* box-shadow: #333 2px 2px 2px; */
    }
    .cardTitle{
      font-size: 20px;
      padding-bottom:25px;
      padding-top:10px;
      font-weight: 700;
    }
    .cardInfo{
      font-size: 50px;
    }
    .cardInfo2{
      padding-left:20px;
      text-align: center;
      margin-bottom: 5px;;
      font-size: 20px;
    }
    .cardsRow{
      display: flex;
      margin-bottom: 30px;;
    }
    .rowTitle{
      font-size:25px;
      color:#222;
      margin-bottom: 10px;;
    }
</style>
<!-- Toolbar -->
<div class="pageWrapper">
  
  <app-navbar></app-navbar>
  <app-sidemenu  (currentFeature)="currentFeatureChanged($event)" [dashboardData]="dashboardData"></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Dashboard
      
    </div>
    <div *ngIf="cachedData" style="background:white;border-radius:5px;height: 35px; width:50px;text-align: center;padding-top:5px;margin-left: auto; box-shadow: #222 2px 2px 2px; cursor:pointer;">
      <img (click)="refreshClicked();" style="height:30px;width: auto;" src='../../../assets/images/refresh.png'>
      <!-- <span class="fa fa-refresh fa-2x"></span> -->
    </div>
    <div class="cardsCont">
      <div class="rowTitle">Invoices</div>
      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Invoices Paid This Month</div>
          <div class="cardInfo">{{invoicesPaidThisMonth}}/{{invoicesThisMonth}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Invoices Paid Last Month</div>
          <div class="cardInfo">{{invoicesPaidLastMonth}}/{{invoicesLastMonth}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Invoices This Year</div>
          <div class="cardInfo">{{invoicesThisYear}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Invoices Last Year</div>
          <div class="cardInfo">{{invoicesLastYear}}</div>
        </div>
      </div>

      <div class="rowTitle">Profit</div>
      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Profit This Month</div>
          <div class="cardInfo">{{profitThisMonth?(profitThisMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Profit Last Month</div>
          <div class="cardInfo">{{profitLastMonth?(profitLastMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Profit This Year</div>
          <div class="cardInfo">{{profitThisYear?(profitThisYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Profit Last Year</div>
          <div class="cardInfo">{{profitLastYear?(profitLastYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
      </div>
      
      <div class="rowTitle">Revenue</div>

      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Revenue This Month</div>
          <div class="cardInfo">{{revenueThisMonth?(revenueThisMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Revenue Last Month</div>
          <div class="cardInfo">{{revenueLastMonth?(revenueLastMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Revenue This Year</div>
          <div class="cardInfo">{{revenueThisYear?(revenueThisYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Revenue Last Year</div>
          <div class="cardInfo">{{revenueLastYear?(revenueLastYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
      </div>
      <div class="cardsRow">
        <div  *ngIf="lineChartData.datasets[0].data.length > 1" class="graphBox"><canvas width="1290" height="320" baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'">
          </canvas>
        </div>
      </div>

      <div class="rowTitle">Expenses</div>
      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Expenses This Month</div>
          <div class="cardInfo">{{expensesThisMonth?(expensesThisMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Expenses Last Month</div>
          <div class="cardInfo">{{expensesLastMonth?(expensesLastMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Expenses This Year</div>
          <div class="cardInfo">{{expensesThisYear?(expensesThisYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Expenses Last Year</div>
          <div class="cardInfo">{{expensesLastYear?(expensesLastYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
      </div>

      <!-- GAS -->
      <div class="rowTitle">Fuel Expenses</div>
      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Fuel Expense This Month</div>
          <div class="cardInfo">{{gasExpenseThisMonth?(gasExpenseThisMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Fuel Expense Last Month</div>
          <div class="cardInfo">{{gasExpenseLastMonth?(gasExpenseLastMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Fuel Expense This Year</div>
          <div class="cardInfo">{{gasExpenseThisYear?(gasExpenseThisYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Fuel Expense Last Year</div>
          <div class="cardInfo">{{gasExpenseLastYear?(gasExpenseLastYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
      </div>
    </div>

      <div class="rowTitle">Vehicles</div>
      <div class="cardsRow" *ngFor="let vehicle of vehicles" >
        <div class="cardBox">
          <div class="cardTitle">vehicle Number: {{vehicle.vehicle_number}}</div>
          <div class="cardInfo2">
            {{vehicle.status}}
          </div>
          <div class="cardInfo2">
            {{vehicle.mileage | number}} Miles
          </div>
        </div>
      </div>

      
  </div>
</div>
