<style>
    .pageWrapper{
      margin: 0 auto;
      background:#1976d2;
      color:white;
      /* height: 100vh; */
      min-height: 100vh;
      padding-bottom: 200px;
    }
    .toolbar{
      background:#333;
      padding:20px 10px;
    }
  
    .toolbar span{
      padding-left:10px;
    }
    .content{
      margin: 0 auto;
      text-align: center;
    }
    .homeTitle{
      padding:100px 0px;
      font-size:60px;
      text-shadow: #333 3px 3px 3px;
    }
    .homeSubtitle{
      font-size: 20px;
      padding-bottom: 10px;
      text-shadow: #333 3px 3px 3px;
    }
    .inputCont{
      display: block;
      padding:10px;
    }
    .inputCont input{
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      width: 250px;
      box-shadow: #333 2px 2px 2px;
    }
    .loginBtn{
      border: none;
      background-color: #1d1d1d;
      color: white;
      margin-top:30px;
      border-radius: 5px;
      padding: 10px 20px;
      box-shadow: #424242 2px 2px 2px;
      cursor: pointer;
    }
    .cardBox{
      background:#65a3e1;
      border:none;
      border-radius: 5px;
      width:300px;
      height:125px;
      padding:20px 40px;
      text-align: center;
      margin-right: 20px;
      box-shadow: #333 2px 2px 2px;
    }
    .cardTitle{
      font-size: 20px;
      padding-bottom:30px;
      font-weight: 700;
    }
    .cardInfo{
      font-size: 50px;
    }
    .cardsRow{
      display: flex;
      margin-bottom: 20px;;
    }
</style>
<!-- Toolbar -->
<div class="pageWrapper">
  
  <app-navbar></app-navbar>
  <app-sidemenu  (currentFeature)="currentFeatureChanged($event)" [dashboardData]="dashboardData"></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Dashboard
    </div>
    <div class="cardsCont">
      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Revenue Last Year</div>
          <div class="cardInfo">{{revenueLastYear?(revenueLastYear| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Revenue Last Month</div>
          <div class="cardInfo">{{revenueLastMonth?(revenueLastMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Revenue This Month</div>
          <div class="cardInfo">{{revenueThisMonth?(revenueThisMonth| currency:'USD':'symbol':'1.0'):'...'}}</div>
        </div>
      </div>

      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Invoices Paid This Month</div>
          <div class="cardInfo">{{invoicesPaidThisMonth}}/{{invoicesThisMonth}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
