<style>
    .pageWrapper{
      margin: 0 auto;
      color:white;
      min-height: 100vh;
      padding-bottom: 200px;
    }
    .content{
      margin: 0 auto;
      text-align: center;
    }
    .cardBox{
      background:#fff;
      border:none;
      border-radius: 5px;
      min-width:315px;
      height:160px;
      padding:15px 10px;
      text-align: center;
      margin-right: 20px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-top:20px;
    }
    .graphBox{
      background:#fff;
      border:none;
      border-radius: 5px;
      width:100%;
      height:auto;
      padding:15px 10px;
      text-align: center;
      margin-right: 20px;
      margin-top: 20px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      /* box-shadow: #333 2px 2px 2px; */
    }
    .graphBox canvas{
      width: 100%;
    }
    .cardTitle{
      font-size: 20px;
      padding-bottom:25px;
      padding-top:10px;
      font-weight: 700;
      color: #333;
      /* text-align: left; */
      /* padding-left:30px; */
    }
    .cardTitleExtra{
      font-size: 14px;
      padding-bottom:25px;
      padding-top:10px;
      font-weight: 700;
      color: #c3c3c3;
      /* text-align: left; */
      /* padding-left:30px; */
    }
    .cardInfo{
      font-size: 50px;
      color:#333;
    }
    .cardInfo2{
      padding-left:20px;
      text-align: center;
      margin-bottom: 5px;;
      font-size: 20px;
    }
    .cardsRow{
      font-family: 'Source Sans Pro', sans-serif;
      display: flex;
      /* margin-bottom: 30px;; */
    }
    .rowTitle{
      
      font-size:25px;
      color:#222;
      margin-bottom: 10px;;
    }
</style>
<!-- Toolbar -->
<div class="pageWrapper">
  
  <app-navbar></app-navbar>
  <app-sidemenu  (currentFeature)="currentFeatureChanged($event)" [dashboardData]="dashboardData"></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Dashboard
      
    </div>
    <div style="display:flex;">
      <div *ngIf="cachedData" style="background:white;border-radius:5px;height: 35px; width:50px;text-align: center;padding-top:5px;margin-right: auto; box-shadow: #222 2px 2px 6px; cursor:pointer;margin-bottom:10px;">
        <img (click)="fetchDashboardData();" style="height:30px;width: auto;" src='../../../assets/images/refresh.png'>
      </div>
      <div style="color:#333;font-weight: 600;opacity:.7">Last Updated: {{last30DayData.lastUpdated | date: 'short'}}</div>
    </div>

    <div class="cardsCont">
      <div class="cardsRow">
        <div class="cardBox">
          <div class="cardTitle">Total Invoiced<span class="cardTitleExtra"><br>Last 30 Days</span></div>
          <div class="cardInfo">{{last30DayData.invoices | currency}}</div>
        </div>
        <div class="cardBox">
          <div class="cardTitle">Invoices Paid<span class="cardTitleExtra"><br>Last 30 Days</span></div>
          <div class="cardInfo">{{last30DayData.invoicesPaid }}</div>
        </div>
        <div  *ngIf="lineChartData.datasets[0].data.length > 0" class="graphBox"><canvas  height="160" baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'bar'">
          </canvas>
        </div>
      </div>

      <!-- <div class="cardsRow">
        
      </div> -->

      <div class="cardsRow">
        <div class="cardColumn">
          <div class="cardBox">
            <div class="cardTitle">Fuel<span class="cardTitleExtra"><br>Last 30 Days</span></div>
            <div class="cardInfo">{{last30DayData.fuel  | currency}}</div>
          </div>
          <div class="cardBox">
            <div class="cardTitle">Open Tasks<span class="cardTitleExtra"><br>All</span></div>
            <div class="cardInfo">{{last30DayData.tasks  }}</div>
          </div>
        </div>
        <div class="cardColumn">
          <div class="cardBox">
            <div class="cardTitle">Expenses <span class="cardTitleExtra"><br>Last 30 Days</span></div>
            <div class="cardInfo">{{last30DayData.expenses | currency}}</div>
          </div>
          <div class="cardBox">
            <div class="cardTitle">Operational Vehicles<span class="cardTitleExtra"><br>All</span></div>
            <div class="cardInfo">{{last30DayData.vehicles  }}</div>
          </div>
        </div>
        
        <div  *ngIf="pieChartData.datasets[0].data.length > 0" class="graphBox"><canvas  height="370" baseChart
          [data]="pieChartData"
          [options]="pieChartOptions"
          type="doughnut">
          </canvas>
        </div>
      </div>
      <div class="cardsRow">
        
      </div>
  </div>
</div>
