<style>
  .pageWrapper{
    background:#222;
    min-height: 100vh;
    height: 100%;
  }
  .mainCont{
    max-width:1400px ;
    width: 100%;;
    margin: 0 auto;
    color: white;
    /* padding */
  }
  .mainCont a{
    text-decoration: underline;
    color: white;
  }
  .pageTitle{
    color:white;
  }
</style>

<div class="pageWrapper">
  
  <app-navbar></app-navbar>
  <app-sidemenu></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Page Not Found
    </div>
    Try going back <a href='/'>Home</a>.
  </div>
</div>