<style>
    .pageWrapper{
        min-height: 100vh;
        /* background:#1e1e1e; */
        margin: 0 auto;
        justify-content: center;
    }
    .logCont{
        max-width: 1400px;
        justify-content: center;
        margin: 0 auto;
        color: white;
        padding-bottom: 120px;;
    }
    .updateBox{
        padding:20px;
        margin-bottom: 30px;
        background: #3d70fc;
        /* box-shadow: #222 2px 2px 2px; */
        border-radius: 5px;
    }
    .updateTitle{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .updateText{
        line-height:22px;
    }
</style>

<div class="pageWrapper">
    <app-navbar></app-navbar>
    <app-sidemenu  [dashboardData]="dashboardData" ></app-sidemenu>

    <div class="logCont">
        <div class="pageTitle">
            Update Log
        </div>
        <div class="updateBox">
            <div class="updateTitle">8/21/2022</div>
            <div class="updateText">
                - Added new Expense categories<br>
                - Added Profit data analytics in Dashboard<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">8/17/2022</div>
            <div class="updateText">
                - UI overhaul<br>
                - Text style changes<br>
                - Side Menu animation<br>
                - Added Graph top Dashboard<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">5/30/2022</div>
            <div class="updateText">
                - Cosmetic fixes to Expense Page<br>
                - Removed Description on Expense Page<br>
                - Added dropdown on category on adding Expense<br>
                - Removed Cost Per Gallon on Fuel<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">4/30/2022</div>
            <div class="updateText">
                - User can now see Fuel analytics on Dashboard<br>
                - User can now access Fuel page from side menu<br>
                - User can now add and remove fuel expenses from Fuel page<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">4/18/2022</div>
            <div class="updateText">
                - User can now access Trucks from side menu<br>
                - User can now add, remove, edit Trucks<br>
                - Dashboard now has Truck listings<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">4/15/2022</div>
            <div class="updateText">
                - Removed Cost Per Unit and Unit in Expense<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">4/12/2022</div>
            <div class="updateText">
                - Dashboard now has row titles<br>
                - 404 Page is now set up<br>
                - Dashboard now has This Month, Last Year, This Year analytics<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">4/9/2022</div>
            <div class="updateText">
                - User can now access the Expenses page from the side bar<br>
                - User can now view, add and delete expenses<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">4/3/2022</div>
            <div class="updateText">
                - User can now load previous saved invoices from Invoice History Page (The Michelle Feature)<br>
            </div>
        </div>
        <div class="updateBox">
            <div class="updateTitle">3/25/2022</div>
            <div class="updateText">
                - User can see update logs from Update Log page in side menu<br>
                - User can now rearrange Invoice workday trips<br>
                - User can now rearrange Invoice workdays<br>
                - User can now generate an Invoice from Invoice History record, if it has invoice data in record<br>
                - User can now add Invoices to Invoice History Page from Create Invoice Page<br>
            </div>
        </div>
    </div>

</div>