<style>
  .pageWrapper{
    margin: 0 auto;
    color:white;
    justify-content: center;
    padding-bottom: 200px;
    min-height: 100vh;
  }
  .mainCont{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .listHeaderCont{
    display: flex;
    justify-content: space-around;
    padding:10px 20px;
    background-color: white;
    border-radius: 5px;
    min-width: 50px;
    color:#1976d2;
    font-weight: bold;
    text-align: center;
  }
  .listItemCont{
    justify-content: space-around;
    padding:10px 20px;
    font-weight: bold;
    display: flex;
    /* border-bottom: 1px solid white; */
    text-align: center;
  }
  .headerItem, .listItem{
    text-align: center;
    max-width: 170px;
    min-width: 120px;
  }
  .btnRow button{
    margin-right:10px;
  }
  .addFuelCont{
    padding:15px;
    background: #65a3e1;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .formRow{
    margin-bottom: 20px;;
    display: flex;
  }
  .formRow div{
    margin-right: 10px;;
  }
  .addFuelInputBox input{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addFuelInputBox select{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
  }

  .addFuelInputBox option{
    border:none;
    padding: 10px;
    /* margin: 10px; */
    border-radius: 5px;
    width: auto;
  }

  .addFuelInputBox textarea{
    border:none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    width: 400px;
    height: 100px;
  }
  .addFuelInputItem{
    display: inline-grid;
    width: auto;
  }
  .addFuelInputItem label{
    margin-left: 10px;
  }
  .modalBox{
    background-color: white;
    padding:20px;
    position: absolute;
    top:50%;
    left:40%;
    box-shadow: 2px 2px 2px #222;
    border:none;
    border-radius: 5px;
  }
  .modalTitle{
    color: black;
    padding-bottom: 30px;;
  }
</style>

<div class="pageWrapper">
  <app-navbar></app-navbar>
  <app-sidemenu [dashboardData]="dashboardData" ></app-sidemenu>
  <div class="mainCont">
    <div class="pageTitle">
      Fuel
    </div>
    <div class="addRecordCont" *ngIf='showAddFuelBox'>
      <form (ngSubmit)="onSubmit()" class="addRecordInputBox" [formGroup]='fuelItem'>
        <div class="formRow">
          <div class="addRecordInputItem"><label>Vehicle Number</label>
            <select formControlName='vehicle_number' placeholder="Category">
              <option></option>
              <option *ngFor="let vehicle of vehicles;" value="{{vehicle.vehicle_number}}">{{vehicle.vehicle_number}}</option>
            </select>
          </div>
          <div class="addRecordInputItem"><label>Mileage</label>
            <input  type='number' formControlName='mileage' placeholder="Mileage">
          </div>
          <div class="addRecordInputItem"><label>Gallons</label>
            <input  type='number' formControlName='gallons' placeholder="Gallons">
          </div>
          <div class="addRecordInputItem"><label>Total</label>
            <input type='number' formControlName='total' placeholder="Total">
          </div>
          <div class="addRecordInputItem"><label>Date</label>
            <input type='date' formControlName='date' placeholder="Paid Date">
          </div>
        </div>
      </form>
      <div>
        <button *ngIf="addingFuel" (click)="addFuel()" [disabled]=fuelItem.invalid class="greenBtn margin10  width100">Add</button>
        <button *ngIf="!addingFuel" (click)="addFuel()" [disabled]=fuelItem.invalid class="greenBtn margin10  width100">Edit</button>
        <button (click)="showAddFuelBox = !showAddFuelBox" class="redBtn margin10 width100">Cancel</button>
      </div>
    </div>
    <div class="btnRow">
      <button  *ngIf='!showAddFuelBox' class="greenBtn width200 mb20" (click)="addFuelClicked();showAddFuelBox = !showAddFuelBox">
        Add Fuel Purchase
      </button>
    </div>
    <div class="listHeaderCont2">
      <div (click)="sortPropertyChanged('vehicle_number')" class="headerItem">Vehicle Number&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('mileage')" class="headerItem">Mileage&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('gallons')" class="headerItem">Gallons&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('total')" class="headerItem">Total&nbsp;<span class="fa fa-sort"></span></div>
      <div (click)="sortPropertyChanged('date')" class="headerItem">Date&nbsp;<span class="fa fa-sort"></span></div>
      <div class="headerItem" style="cursor:unset;">Actions</div>
    </div>
    <div *ngFor="let fuel of records">
      <div class="listItemCont2">
        <div class="listItem">{{fuel.vehicle_number}}</div>
        <div class="listItem">{{fuel.mileage }}</div>
        <div class="listItem">{{fuel.gallons}}</div>
        <div class="listItem">{{fuel.total | currency}}</div>
        <div class="listItem">{{fuel.date |date: 'mediumDate'  }}</div>
        <div  class="listItem actionItems">
          <div *ngIf='fuel.paidDate' style='width: 20px;'></div>
          <div (click)='deleteFuel(fuel)'  class="fa fa-remove actionBtn" ></div>
          <div (click)='editFuel(fuel)' class="fa fa-edit actionBtn" ></div>
        </div>
      </div>
    </div>
  </div>
</div>